<!-- welcome to <%= title %>
<br>

<h1>PERCENTAGES LIST</h1>   
<br>

<table>
   <tr>
     <th> NAME </th>
     <th> Percentage </th>
   </tr>
   <tr>
     <td>krishna</td>
     <td>67</td>
   </tr>
</table> -->


<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2> data of students</h2>

<table style="width:100%">
  <tr>
    <th>student ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Department</th>
  </tr>
  <tr>
    <td>101</td>
    <td>Gangu Venkata</td>
    <td>67</td>
  </tr>
  <tr>
    <td>sandeep</td>
    <td>sanddep@gmail.com</td>
    <td>78</td>
  </tr>
</table>



</body>
</html>

