<html>
<head>
        <%- include('./navbar.html') %>
		<link rel="stylesheet" type="text/css" href="style/register.css">

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Update</title>
</head>
<body>
		<h2>UpdateRegistration</h2>
		 <form  action="/update_auth" method="post">
       <div class="container">
      <label for="Firstname"><b>FirstName</b></label>
      <input type="text"  name="Firstname" >
      
       <label for="studentId"><b>studentId </b></label>
      <input type="text"  name="studentId" >
      
      <input type="submit" value="save">
      </div>
      </form>
</body>
</html>