<!DOCTYPE html>
<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/ui.css">
    </head>
    <body>
        <div class="login-form">
            <h1>Login Form</h1>
            <form action="/checkLogin" method="post">
                <p>Username</p>
                <input type="text" name="uname" placeholder="User Name">
                <p>Password</p>
                <input type="password" name="pwd" placeholder="Password">
                <button type="submit">Login </button>
            </form>
         </div>
    </body>
</html>